body {
    height: 100%;
    width: 100%;
    background-attachment: scroll;
    margin: 0;
    background: #183152;
}
header nav {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}
header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.menu {
    padding: 20px;
    position: relative;
}
.menu:hover .sous-menu{
    display: block;
}
.sous-menu ul {
    display: block;
    padding: 0;
}
.sous-menu ul li {
    height: 30px;
    text-align: center;
    /* border-bottom: white 1px solid; */
}
.sous-menu ul li a {
    text-decoration: none;
    color: #183152
    padding: 7px 60px 7px 60px;
}
.sous-menu li:hover {
    background-color: #496181;
    transition: background-color 1s linear;
}
.sous-menu li:hover a {
    color: white;
    transition: color 1s linear;
}
.sous-menu {
    left: -40%;
    top: 100%;
    width: 200px;
    height: auto;
    display: none;
    position: absolute;
    background-color: white
}
.textnav {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #4b6280f5;
    width: auto;
}
.textnav:hover {
    color: white;
    transition: color 1s linear;
}
.button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    width: auto;
    color: #183152;
}
.button:hover{
    text-decoration: underline;
}


.start {
    text-align: center;
    height: 500px;
}
.textintro {
    color: white;
    margin: 0;
    font-weight: bold;
}
.partie1 {
    height: 400px;
    background-color: white;
    align-items: center;
    display: block;
    text-align: center;
}

.stat ul {
    list-style: none;
}
.stat .barre1 {
    margin: 10px 15px 0 15px;
    display: inline-block;
    height: 19px;
    width: 300px;
    background-color:#183152;
}
.stat .barre2 {
    margin: 10px 15px 0 15px;
    display: inline-block;
    height: 19px;
    width: 300px;
    background-color: #183152;
}
.stat .barre3 {
    margin: 10px 15px 0 15px;
    display: inline-block;
    height: 19px;
    width: 300px;
    background-color: #183152;
}
.stat .barre4 {
    margin: 10px 15px 0 15px;
    display: inline-block;
    height: 19px;
    width: 300px;
    background-color: #183152;
}
.partie2 {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%;
}
.navbas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 40%;
    height: 80%;
}
.navbas div input {
    border: none;
    height: 30px;
    margin-top: 15px;
    background-color: #183152;
}
.navbas p {
    color: #183152;
}
.navbas div h1 {
    color: #183152;
    font-weight: bold;
}
.bob {
    height: 30px;
    width: 100%;
    margin-top: 15px;
    text-decoration: none;
    color: white;
    border: none;
}
.bob:hover {
    background-color: #496181;
    color: #183152;
    transition: color 1s linear;
    transition: background-color 1s linear;
}