body {
    height: 100%;
    width: 100%;
    background-attachment: scroll;
    margin: 0;
}
header nav {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #183152;
}
header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.menu {
    padding: 20px;
    position: relative;
}
.menu:hover .sous-menu{
    display: block;
}
.sous-menu ul {
    display: block;
    padding: 0;
}
.sous-menu ul li {
    height: 30px;
    text-align: center;
}
.sous-menu ul li a {
    text-decoration: none;
    color: white;
    padding: 7px 60px 7px 60px;
}
.sous-menu li:hover {
    background-color: #496181;
    transition: background-color 1s linear;
}
.sous-menu li:hover a {
    color: #183152;
    transition: color 1s linear;    
}
.sous-menu {
    left: -40%;
    top: 100%;
    width: 200px;
    height: auto;
    display: none;
    position: absolute;
    background-color: #183152;
}
.menu1{
    display: block;
    padding: 20px;
    position: relative;
}
.sous-menu1 {
    top: 100%;
    right: -230%;
    position: absolute;
    text-align: center;
    padding: 0;
    background-color: #183152;
    height: 70px;
    width: 200px;
    animation: left 1s forwards;
}
.menu1:hover .sous-menu1 {
    display: block;
    animation: right 1s forwards;
}
@keyframes right {
    0% {right: -230%;}
    100% {right: -20%;}
}
@keyframes left {
    0% {right: -20%}
    100% {right: -230%;}
}
.textnav {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #4b6280f5;
    width: auto;
    cursor: pointer;
}
.textnav:hover {
    color: white;
    transition: color 1s linear;
}
.button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    width: auto;
    color: white;
}
.button:hover{
    text-decoration: underline;
}


.start {
    text-align: center;
    height: 400px;
}
.textintro {
    color: #183152;
    margin: 0;
    font-weight: bold;
}
.desc{
    text-align: center;
}
.partie1 {
    height: 400px;
    background-color: #183152;
    align-items: center;
    display: block;
}
.stat {
    justify-content: center;
    display: flex;
    justify-content: space-around;
}
.stat ul {
    list-style: none;
    padding: 0;
}
.stat .barre1w {
    margin: 10px 35px 0 15px;
    display: inline-block;
    height: 19px;
    width: 200px;
    background-color:white;
}
.stat .barre2w {
    margin: 10px 15px 0 15px;
    display: inline-block;
    height: 19px;
    width: 300px;
    background-color: white;
}
.stat .barre3w {
    margin: 10px 15px 0 15px;
    display: inline-block;
    height: 19px;
    width: 300px;
    background-color: white;
}
.stat .barre4w {
    margin: 10px 15px 0 15px;
    display: inline-block;
    height: 19px;
    width: 300px;
    background-color: white;
}

.stat .barre1l {
    margin: 10px 35px 0 15px;
    display: inline-block;
    height: 19px;
    width: 200px;
    background-color:white;
}
.stat .barre2l {
    margin: 10px 15px 0 15px;
    display: inline-block;
    height: 19px;
    width: 300px;
    background-color: white;
}
.stat .barre3l {
    margin: 10px 15px 0 15px;
    display: inline-block;
    height: 19px;
    width: 300px;
    background-color: white;
}
.stat .barre4l {
    margin: 10px 15px 0 15px;
    display: inline-block;
    height: 19px;
    width: 300px;
    background-color: white;
}

.stat .barre1i {
    margin: 10px 35px 0 15px;
    display: inline-block;
    height: 19px;
    width: 200px;
    background-color:white;
}
.stat .barre2i {
    margin: 10px 15px 0 15px;
    display: inline-block;
    height: 19px;
    width: 300px;
    background-color: white;
}
.stat .barre3i {
    margin: 10px 15px 0 15px;
    display: inline-block;
    height: 19px;
    width: 300px;
    background-color: white;
}
.stat .barre4i {
    margin: 10px 15px 0 15px;
    display: inline-block;
    height: 19px;
    width: 300px;
    background-color: white;
}

.partie2 {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%;
}
.navbas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #183152;
    width: 40%;
    height: 80%;
}
.navbas div input {
    border: none;
    height: 30px;
    margin-top: 15px;
}
.navbas p {
    color: white;
}
.navbas div h1 {
    color: white;
    font-weight: bold;
}
.bob {
    height: 30px;
    width: 100%;
    margin-top: 15px;
    text-decoration: none;
    color: #183152;
    border: none;
}
.bob:hover {
    background-color: #496181;
    color: white;
    transition: color 1s linear;
    transition: background-color 1s linear;
}

