body {
    margin: 0;
    background-color: black;
}
header {
    display: block;
}
.navbar__1{
    position: absolute;
    display: flex;
    z-index: 100;
    height: 50px;
    background-color: #292929;
    width: 100%;
    top: 0%;
}
.box {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
}
.box li:nth-child(5){
    margin-right: 10px;
}
.navbar__content {
    color: white;
    font-family: Arial,Helvetica,sans-serif;
    align-items: center;
    height: 100%;
    display: flex;
    padding: 0px 20px 0px 20px;
    border-color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
}
.navbar__content:hover {
    cursor: pointer;
    background-color: #191919;
}
.search {
    background-color: #363636;
    border: none;
    color: #cacaca;
    padding: 2px 5px;
    width: 320px;
    height: 22px;
    border-radius: 3px 0 0 3px;
}
.search:focus {
    color: #363636;
    outline: 0.5px;
    outline-color: #cacaca;
    box-shadow: 0 0 0pt 1pt #cacaca;
}
.logo span:nth-child(1){
    color: white;
}
.logo span:nth-child(2) {
    background: #FF9900;
    color: #000000;
    border-radius: 3px;
    padding: 0 5px 0 5px;
    display: inline-block;
}
.logo {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1vw;
    text-align: center;
    text-transform: none;
  }