html {
    background-color: #000;
    height: 100%;
}

form {
   height: auto;
   margin-top: 25px;
   display: block;

}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div {
   padding: 20px;
   width: 470px;
   display: block;
   justify-content: center;
   align-items: center;
   border-radius: 2px;
   background: rgba(0, 0, 0, .9);
   border: 1px solid #333;
   height: 25%;
}
label {
    color: #363636;
}
input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #333;
    font-size: 17px;
    margin: 7px auto;
    background: rgba(0, 0, 0, .9);
    padding: 20px;
    color: #fff;
    height: 46px;
}
input:focus {
    outline-color: #fff;
}
h1 {
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    margin: 10px 0 5px 0;
    text-align: center;
}
p{
    color: #898787;
    font-size: 14px;
    text-align: center;
}

.login_button {
    background-color: #f90;
    margin: 20px 20px 20px 0;
    padding: 15px 20px;
    width: 290px;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
}
.login_button:hover {
    background: #ffa31a;
}

span {
    color: #fff;
}
span a {
    color: #f90;
    text-decoration: none;
    font-weight: 700;
}
span a:hover {
    text-decoration: underline;
}
